body{
	background:#f3f3f3;
}
.funds-section{
	position: relative;
	padding:1.22rem 0.46875rem 0;
	margin-top:-4px;
	padding-bottom:0.3rem;
	color:#fff;
	background:#bd4745;
}
.funds-section span{
	display: inline-block;
	width: 25%;
	margin-top:0.3rem;
}
.optional-section,.quotation-section{
	padding-bottom:2.5rem;
}
.list-header{
	padding:0 0.46875rem;
	color:#333;
}
.list-header ul li{
	float:left;
	font-size: 16px;
	line-height: 1.125rem;
}
.list-header ul li.header-first{
	width:5.046rem;
}
.list-header ul li.header-second{
	width:2rem;
	padding:0 0.3125rem;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
}
.transaction-section{
	padding: 0 0.46875rem;
	color: #cccccc;
	background: #fff;
}
.transaction-list {
	padding: 0.25rem 0;
	line-height:0.65625rem;
	color: #999;
	border-top: 1px solid #ddd;
}
.transaction-list li{
	float:left;
}
.transaction-list .item-second .transaction-data {
	line-height:0.9375rem;
}
.transaction-list .item-first {
	width: 5.046rem;
}
.transaction-list .item-first .transaction-title{
	color:#333;
	font-size:14px;
}
.transaction-list .item-third .percent-data{
	color:#fff;
	line-height:0.9375rem;
	border-radius:0.15625rem;
	text-align:center;
}
.transaction-list .item-third .percent-data.up-red{
	background:#ff6060;
}
.transaction-list .item-third .percent-data.down-green{
	background:#26b463;
}
.transaction-list .item-third .percent-data.gray{
	background:#999;
}
.transaction-list .item-second{
	width:2rem;
	padding:0 0.3125rem;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
}
.transaction-list .item-first .transaction-data {
	padding-top:0.1875rem;
}
.transaction-list .item-third{
	width:1.875rem;
}
.holding-section {
	padding: 0.185rem 0.46875rem 0;
	color: #cccccc;
	background: #fff;
}
.list-title {
	position: relative;
	padding:0.3125rem 0;
	color:#333;
	font-size:16px;
	font-weight:bold;
}
.holding-data {
	position: relative;
	margin-top:0.15625rem;
	color:#333;
	line-height: 0.444rem;
}
.holding-list {
	padding: 0.25rem 0;
	line-height: 1.40625rem;
	border-top:1px solid #ccc;
}
.holding-section ul li {
	float: left;
	padding-left:0.2rem;
}
.holding-section li.first {
	width: 3.185rem;
	padding-left:0;
}
.holding-section li p{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.holding-section li.second p.holding-data{
	text-align: center;
}
.holding-section li p.holding-data span:first-child{
	margin-right:0.2125rem;
}
.holding-section li .holding-title{
	color:#999;
	font-size:14px;
}
.holding-section li.first .holding-title{
	color:#333;
}
.holding-section li.first .holding-data{
	color:#999;
}
.holding-section li.second {
	width: 1.333rem;
}
.holding-section li.third {
	width: 1.625rem;
}
.holding-section li.fourth {
	float: right;
	padding-left:0;
}
.tab-box{
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	padding:0.3125rem 0;
	background:#fff;
	border-top:1px solid #ddd;
	z-index:100;
}
.tab-item{
	width:49%;
	color:#999999;
}
.tab-item.active{
	color:#bd4745;
}
.tab-item .tab-title{
	padding-top:8px;
}
.diviling-gray{
	width:1px;
	height:1.1875rem;
	background-image: linear-gradient(to top,#fff 0,#999 50%,#fff 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(50%,#999),color-stop(100%,#fff));
	background-image: -webkit-linear-gradient(bottom,#fff 0,#999 50%,#fff 100%);
}
.quotation-section {
	display:none;
}
.quotation-section .transaction-section{
	margin-top:0;
}
/*行情预警*/
.operation-section{
	padding-top:1.22rem;
}
.operation{
	width:2rem;
}
.operation .btn{
	width: 100%;
	padding:0.2rem 0;
}
.operation .btn:first-child{
	margin-bottom:0.15625rem;
}
.warning-text{
	margin-top:0.3125rem;
}
.operation-section .transaction-list .item-first{
	width: 7rem;
}
.operation-section .transaction-list .item-first .transaction-title{
	font-size: 16px;
}
.warning-text span{
	float: left;
	width: 50%;
	margin-top:0.15625rem;
}

[data-dpr="2"] .list-header ul li{
	font-size:32px;
}
[data-dpr="2"] .transaction-list .item-first .transaction-title,
[data-dpr="2"] .holding-section li .holding-title{
	font-size: 28px;
}
[data-dpr="2"] .list-title{
	font-size:34px;
}
[data-dpr="3"] .list-header ul li,
[data-dpr="3"] .list-title{
	font-size:52px;
}
[data-dpr="3"] .transaction-list .item-first .transaction-title,
[data-dpr="3"] .holding-section li .holding-title{
	font-size: 46px;
}